.spiner-container {
  grid-area: content;
  z-index: 9999;
  max-width: 100vw;
  max-height: 86vh;
}

.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--navy-blue-500);
  border-radius: 10px;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: var(--dark-cyan) transparent var(--dark-cyan) transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

.loader-container.err {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.reload-btn {
  padding: 1rem 2rem;
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 5px;
  color: var(--text-white);
}

.error-msg {
  font-size: var(--h3-font-size);
  text-align: center;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media(max-width: 996px) {
  .spiner-container {
    margin-top: 6rem;
  }
}

@media(max-width: 768px) {
  .error-msg {
    font-size: var(--normal-font-size);
  }
}