.main__container {
  padding-block: 5rem;
  padding-inline: 20px;
}

.games-container {
  display: flex;
  flex-direction: column;
}

.games-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.game-item {
  background-color: var(--secundary-black);
  padding: 1.6rem 1rem;
  justify-self: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: space-between;
}

.game-title {
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-wrapper span {
  font-size: var(--tiny-font-size);

}

.game-publisher,
.game-genre {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  margin-bottom: 2rem;
}

.game-publisher span:first-child,
.game-genre span:first-child {
  font-weight: var(--font-medium);
  color: var(--text-muted);
  font-size: var(--smaller-font-size);
}

.game-description {
  font-size: var(--small-font-size);
  max-width: 400px;
  height: 80px;
}

.game-description p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.game-profile {
  margin-top: 1rem;
  color: var(--text-white);
  font-weight: var(--font-medium);
  background: linear-gradient(to left, rgba(255, 255, 255, 0.12) 50%, var(--highlight-color) 50%) right;
  background-size: 200% 100%;
  padding: 1.2rem 2.4rem;
  transition: background .8s ease;
  border-radius: 3px;
}

.game-profile:hover {
  background-position: left;
}

.select-categorie {
  margin-bottom: 10rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: flex-end;
}

.select-categorie label {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.select-categorie select {
  padding: .5rem;
  border: none;
  color: var(--text-white);
  background-color: var(--primary-black);
  border: 1px solid var(--secundary-black);
}

.select-categorie select option {
  font-size: var(--smaller-font-size);
  padding: 1rem;
}

.select-categorie select:focus option:hover {
  background-color: red;
}

.name-categorie {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 4rem;
}

.error__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-block: 20rem;
}

.loading-msg,
.error-msg {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: 5rem;
}

.error-status {
  font-size: var(--big-font-size);
}

.error-text {
  font-size: var(--normal-font-size);
}

.loading-msg {
  animation-name: fading;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  text-align: center;
}

.search-msg {
  grid-column: 1/3;
}

.backward-btn {
  padding: 1rem 2.4rem;
  background-color: var(--secundary-black);
  color: var(--text-muted);
  font-weight: var(--font-medium);
  border: none;
  margin-top: 5rem;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.backward-btn i {
  transition: all .6s;
  font-size: var(--h3-font-size);
}

.backward-btn:hover i {
  transform: translateX(-5px);
}

@keyframes fading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .4;
  }
}

/*============= Breakpoints ===================*/

/*============= Para telas médias ===================*/
@media(max-width: 768px) {
  .games-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-msg {
    grid-column: 1/2;
    font-size: var(--smaller-font-size);
    justify-self: center;
  }

  .select-categorie label {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }

  .select-categorie select {
    padding: .5rem;
    background-color: var(--primary-black);
    color: var(--text-white);
    font-size: var(--smaller-font-size);
  }

  .select-categorie select option {
    font-size: var(--smaller-font-size);
    padding: 1rem;
  }

  .game-title {

    font-size: var(--normal-font-size);
  }

  .game-description {
    font-size: var(--smaller-font-size);
  }


  .game-profile {
    font-size: var(--smaller-font-size);
  }

  .backward-btn {
    padding: 1rem 2.4rem;
    background-color: var(--secundary-black);
    color: var(--text-muted);
    font-weight: var(--font-medium);
    border: none;
    margin-top: 5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: var(--small-font-size);
  }

  .backward-btn i {
    transition: all .6s;
    font-size: var(--small-font-size);
  }

  .loading-msg,
  .error-msg {
    font-size: var(--small-font-size);
    text-align: center;
    padding-inline: 10px;
  }

}

@media(max-width: 576px) {
  .games-list {
    grid-template-columns: minmax(200px, 350px);
    justify-content: center;
  }

}