.navheader__container {
  grid-area: nav;
  display: flex;
  gap: 2rem;
  align-items: baseline;
  justify-content: space-between;
  padding-block: 2rem;
  padding-left: 2rem;
  top: 0;
  right: 20px;
  left: 320px;
  background-color: var(--background-color-opacity);
  backdrop-filter: blur(5px);
  z-index: 9999;
}

.menu-icon {
  margin-top: 1rem;
  flex-shrink: 0;
  cursor: pointer;
}

.search-form-label {
  display: none;
}

.navheader__form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.navheader__mobile {
  display: none;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.navheader__search-form {
  display: grid;
  grid-template-columns: minmax(200px, 400px);
  grid-template-rows: 1fr;
  align-items: center;
}

.search-form-field {
  grid-column: 1/2;
  grid-row: 1/2;
}

.search-form-input {
  width: 100%;
  padding: 1.6rem 4rem;
  border-radius: 5px;
  border: none;
  color: var(--text-white);
  background: var(--navy-blue-700);
  height: 55px;
}

.search-form-icon {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 1rem;
  margin-top: .8rem;
  z-index: 1;
  width: max-content;
}

.search-form-filter {
  display: grid;
  place-items: center;
  padding: .6rem 1.8rem;
  max-width: max-content;
  margin-right: 1rem;
  z-index: 1;
  background-color: var(--navy-blue-500);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity .5s;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  background-color: var(--navy-blue-700);
  justify-self: end;
  z-index: 2;
}

.filter-text {
  color: var(--dark-cyan);
  margin-left: 2rem;
}

.search-form-filter:hover {
  opacity: .8;
}

.search-form-filter svg path {
  transition: fill .5s;
}

.search-form-filter:hover svg path {
  fill: var(--text-white);
}

.expanded-filter {
  display: none;
  background-color: var(--navy-blue-500);
  padding: 1.6rem 1rem;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.genre-select {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
  width: 100%;
}

.genre-title,
.rate-title {
  display: flex;
  width: 100%;
  background-color: var(--navy-blue-700);
  padding: .8rem 2rem;
  border-radius: 5px;
  font-size: var(--normal-font-size);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.genre-title i,
.rate-title i {
  font-size: var(--h3-font-size);
}

.genre-list,
.rate-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem;
}

.genre-item {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .8rem 1.2rem;
  background-color: var(--navy-blue-700);
  border-radius: 5px;
}

.genre-item svg {
  cursor: pointer;
}

.navheader__options {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.navheader__fav-btn,
.navheader__wish-btn {
  display: grid;
  place-items: center;
  border-radius: 5px;
  width: 60px;
  height: 55px;
  background-color: var(--navy-blue-700);
  cursor: pointer;
}

.navheader__fav-btn svg path,
.navheader__wish-btn svg path {
  transition: all .5s;
}

.navheader__fav-btn:hover svg path {
  fill: var(--text-white);
}

.navheader__wish-btn:hover svg path {
  stroke: var(--text-white);
}


.navheader__fav-btn.unable,
.navheader__wish-btn.unable {
  display: grid;
  place-items: center;
  border-radius: 5px;
  width: 60px;
  height: 55px;
  background-color: var(--navy-blue-700);
  cursor: initial;
}

.navheader__fav-btn.unable svg path,
.navheader__wish-btn.unable svg path {
  transition: unset;
}

.navheader__fav-btn.unable svg path {
  fill: var(--grey-color-opacity);
}

.navheader__wish-btn.unable svg path {
  stroke: var(--grey-color-opacity);
}


.navheader__profile-btn {
  display: flex;
  flex-direction: column;
}

.navheader__options-btns {
  display: flex;
  gap: 2rem
}


/*Aparência do filtro*/
.disable-text {
  display: none;
}

.disable-cont {
  width: max-content;
}

@media(max-width: 1230px) {
  .navheader__container {
    position: fixed;
  }
}


@media(max-width: 1160px) {

  .navheader__search-form {
    grid-template-columns: minmax(30px, 1000px);
  }

  .navheader__options {
    width: 100%;
  }
}

@media(max-width: 996px) {


  .navheader__container {
    right: 0px;
    left: 0px;
    position: fixed;
    margin-top: 0;
    padding-inline: 1rem;

  }

  .menu-icon {
    display: flex;
  }

  .navheader__mobile {
    display: flex;
  }

  .navheader__options {
    display: none;
  }
}

@media(max-width: 360px) {
  .navheader__search-form {
    grid-template-columns: minmax(260px, 360px);
  }

  .app-logo {
    max-width: 180px;
  }
}