/*===================  Base ====================*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--primary-black);
  color: var(--text-white);
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*===================  Google Fonts ====================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/*===================  Variáveis CSS ====================*/

:root {

  /*============= Colors ===============*/
  --primary-black: #252525;
  --secundary-black: #5a5a5a;
  --highlight-color: #6F4ECF;
  --text-white: #f6f6f7;
  --text-muted: #cccccc;
  --text-hover: #232945;

  /*============= Fontes ===================*/
  --body-font: "Inter", sans-serif;

  /*============= Tamanho da Fonte ===================*/
  --header-height: 4.8rem;
  --big-font-size: 5rem;
  --h1-font-size: 3.6rem;
  --h2-font-size: 2.4rem;
  --h3-font-size: 2rem;
  --normal-font-size: 1.4rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.3rem;
  --tiny-font-size: 1rem;
  --line-height: 2.14rem;

  /*============= Peso da Fonte ===================*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;

  /*============= Margens ===================*/
  --mb-0-4: .4rem;
  --mb-0-8: .8rem;
  --mb-1-2: 1.2rem;
  --mb-1-6: 1.6rem;
  --mb-2-0: 2rem;
  --mb-2-4: 2.4rem;
  --mb-2-8: 2.8rem;
  --mb-3-2: 3.2rem;

  /*============= z-index ===================*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

}

/*============= Tipografia Responsiva ===================*/

@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 4.4rem;
    --h1-font-size: 2.4rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.6rem;
    --normal-font-size: 1.5rem;
    --small-font-size: 1.3rem;
    --smaller-font-size: 1.2rem;
  }
}

/*============= Classes CSS Reutilizáveis ===================*/
.section {
  padding: 9.2rem 0 3.6rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--text-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 6.4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*============= Layout ===================*/

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 2.4rem;
}

/*============= Buttons ===================*/

.button {
  display: inline-block;
  background-color: var(--text-color);
  color: var(--text-white);
  padding: 2rem 3.2rem;
  border-radius: 1.6rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--text-hover);
}

.button__icon {
  margin-left: var(--mb-0-4);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}


/*============= Breakpoints ===================*/

/*============= Para telas maiores ===================*/
@media screen and (max-width: 992px) {
  .container {
    margin-inline: var(--mb-2-0);
  }

  .button {
    padding: 1.6rem 2.8rem;
  }

  .button__icon {
    width: 2.2rem;
    height: 2.2rem;
  }
}

/*============= Para tela média ===================*/
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 3.2rem 0 6.4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3-2);
  }
}

@media screen and (max-width: 576px) {}

/*============= Para telas menores ===================*/
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 3.6rem;
  }

  .container {
    margin-inline: var(--mb-1-6);
  }
}